[user]
  email = assaf.muller@datadoghq.com
  name = Assaf Muller

[url "git@github.com:"]
    insteadOf = https://github.com/
[include]
	path = /Users/assaf.muller/.config/gitsign/gitconfig
[core]
	hooksPath = /usr/local/dd/global_hooks
